@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,400;1,500&display=swap');

:root {
    --light-yellow: #FEFFC3;
    --yellow: #EDF200;
    --light-green: #C3FFD1;
    --green: #7BFF98;
    --light-blue: #C3E2FF;
    --blue: #379FFF;
    --light-lila: #CFC3FF;
    --lila: #9E86FF;
    --light-lilac: #F5D9FF;
    --lilac: #E086FF;
}

/* global */
* {
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    height: 90vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}

.background{
    background-color: var(--light-yellow);
    background-image: linear-gradient(180deg, white, rgba(255, 255, 255, 0));
    transition: background-color 2s;
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    bottom:0;

}

/* Text Style */
h5 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    margin: 0;
}

h1 {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 500;
    font-size: 72px;
    line-height: 104%;
    text-transform: capitalize;
    font-feature-settings: 'case'on;
    color: #000000;
    max-width: 700px;
    margin: 0;
}

section p {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-indent: -48px;
    padding-left: 48px;
    margin: 0.5rem 0;
}

.versaillen {
    font-variant-caps: small-caps;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.space {
    padding-top: 1rem;
}

/* section box */
section {
    position: absolute;
    left: 4.5%;
    top: 4.5%;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn easeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6e74ca;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a10f0f;
  }


/* section header */
section div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    margin-top: 1rem;
    margin-left: 3px;
    position: fixed;
}

section .diamond {
    width: 14px;
    height: 14px;
    background: #EDF200;
    transform: rotate(45deg);
    transition: background-color 2s;

}

section a {
    color: #000000;
    text-decoration: none;
}

/* section poem */
section div.poem {
    margin-top: 20vmin;
    margin-bottom: 10vmin;
    /* max-width: 90%; */
    width: calc( 100vw - 7.5% );
    height: calc( 80vh - 130px);
    padding-right: 25%;
    
    /* border: 1px solid green; */

    height: 50vh;
    /* border: 1px solid red; */
    overflow-y: auto;
   

}

section div.poem-text {
    /* overflow: scroll; */
    /* overflow-y: auto; */
    /* height: 30vh; */
}

hr {
    border: 2px solid;
    margin: 3rem 0;
    width: 6rem;
}

/* footer */
footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 36px;
    /* background-color: var(--light-yellow); */
    transition: background-color 2s;
}

footer img {
    margin: 0 24px;
}

.arrows img {
    user-select: none;
    width: 20px;
    cursor: pointer;
}

/* mobile */
@media screen and (max-width: 488px) {

    /* global */
    body {
        max-width: 100vw;

    }

    /* text */
    h5 {
        font-size: 16px;
        letter-spacing: 0.3px;
    }

    h1 {
        font-size: 28px;
    }

    section p {
        font-size: 20px;
        line-height: 130%;
        text-indent: -24px;
        padding-left: 24px;
    }

    /* section */
    section {
        top: 4rem;
        left: 2rem;
    }

    /* section header */
    section div.header {
        margin-top: 0;
        gap: 14px;
    }

    section .diamond {
        width: 10px;
        height: 10px;
    }

    /* section poem */
    section div.poem {
        margin-top: 3rem;
    }

    hr {
        border: 1px solid;
        margin: 2rem 0;
        width: 4rem;
    }

    /* footer */
    footer {
        padding: 24px;
    }

    .arrows img {
        width: 14px;
    }
}


/* 
ISSUES:
- overflow scrolling funktioniert nicht
- fadeIn funktioniert nicht
- buttons unten sollten nicht über den Text kommen (.poem-text div sollte BIS zum footer gehen)

*/